body {
    position: fixed; 
    overflow-y: none;
    overflow-x: none;
    margin: 0px;
    height: 100%;
    width:100%;
    background-color: #00a7ff;
    background: linear-gradient(to right, #00a7ff, #7a69ff)


}

#myCanvas {
	width: 400px;
	height: 600px;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	border-style: solid;
	border-width: thin;
	border-color: red;
	background: #330033;
	background: linear-gradient(#330033, black);
}